In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np

#Display all columns for data inspecting
pd.set_option('display.max_columns', 500)

In [2]:
#read the team average statistics collected from https://fbref.com/ 
team_stats = pd.read_csv('Data/team_avg_statistics_including_friendly.csv')

team_stats = team_stats.drop('Unnamed: 0',axis=1)
team_stats.head()

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK
0,Afghanistan,15.000000,27.000000,NaN,1.000000,11.000000,90.0,1.000000,1.000000,1.000000,1.000000,0.00,0.00,1.000000,0.000000,1.000000,1.000000,2.000000,1.000000,2.000000
1,Albania,18.000000,25.533333,NaN,1.666667,18.333333,150.0,1.666667,1.333333,0.666667,1.333333,0.00,0.00,3.333333,0.000000,1.000000,0.666667,1.666667,1.000000,1.666667
2,Algeria,19.666667,27.133333,39.5,2.750000,30.250000,255.0,2.825000,3.750000,3.166667,3.500000,0.25,0.25,5.416667,0.833333,1.376667,1.095000,2.471667,1.316667,2.414167
3,Andorra,22.666667,28.266667,NaN,2.000000,22.000000,180.0,2.000000,1.000000,0.666667,1.000000,0.00,0.00,2.000000,0.000000,0.500000,0.333333,0.833333,0.500000,0.833333
4,Anguilla,14.000000,26.600000,NaN,1.000000,11.000000,90.0,1.000000,0.000000,0.000000,0.000000,0.00,0.00,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [3]:
#https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017
#read the international matches results from 2010 to 2018
hist_matches =  pd.read_csv('Data/results.csv')
hist_matches = hist_matches.drop('Unnamed: 0',axis=1)
hist_matches

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference
0,2010-01-02,Iran,Korea DPR,1,0,Friendly,Doha,Qatar,True,Iran,1
1,2010-01-02,Qatar,Mali,0,0,Friendly,Doha,Qatar,False,Draw,0
2,2010-01-02,Syria,Zimbabwe,6,0,Friendly,Kuala Lumpur,Malaysia,True,Syria,6
3,2010-01-02,Yemen,Tajikistan,0,1,Friendly,Sana'a,Yemen,False,Tajikistan,1
4,2010-01-03,Angola,Gambia,1,1,Friendly,Vila Real de Santo António,Portugal,True,Draw,0
...,...,...,...,...,...,...,...,...,...,...,...
7964,2018-07-06,Uruguay,France,0,2,FIFA World Cup,Nizhny Novgorod,Russia,True,France,2
7965,2018-07-06,Brazil,Belgium,1,2,FIFA World Cup,Kazan,Russia,True,Belgium,1
7966,2018-07-07,Sweden,England,0,2,FIFA World Cup,Samara,Russia,True,England,2
7967,2018-07-07,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,False,Draw,0
7968,2018-07-10,France,Belgium,1,0,FIFA World Cup,St. Petersburg,Russia,True,France,1

In [4]:
hist_matches['date'] = pd.to_datetime(hist_matches['date'])

In [5]:
#keep only important columns
hist_matches = hist_matches[['date','home_team','away_team','tournament','home_score','away_score','winning_team','goal_difference']]

In [6]:
#check for team names to make sure team names are the same in all datasets to avoid error during merging
hist_matches['home_team'].value_counts().index.sort_values()[200:]

Index(['Rwanda', 'Réunion', 'Saare County', 'Samoa', 'San Marino',
       'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles',
       'Shetland', 'Sierra Leone', 'Singapore', 'Sint Maarten', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'Somaliland', 'South Africa',
       'South Ossetia', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Kitts and Nevis', 'St. Lucia', 'St. Martin',
       'St. Pierre & Miquelon', 'St. Vincent and the Grenadines', 'Sudan',
       'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Székely Land', 'Sápmi', 'São Tomé and Príncipe', 'Tahiti', 'Taiwan',
       'Tajikistan', 'Tamil Eelam', 'Tanzania', 'Thailand', 'Tibet', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'USA', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Koreans in Japan', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Virgin Islands',
       'Wales', 'Western Armenia', 'Western Isles', 'Western Sahara', 'Yemen',
       'Ynys Môn', 'Zambia', 'Zanzibar', 'Zimbabwe', 'Åland Islands'],
      dtype='object')

In [7]:
#replace Korea Republic to South Korea
hist_matches.replace({'Korea Republic':'South Korea'},inplace=True)

/Users/zz/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [8]:
#check for team names in the statistics dataset
team_stats['Squad'].value_counts().index.sort_values()[100:]

Index(['Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Macedonia', 'Northern Ireland', 'Norway', 'Oman',
       'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Ireland', 'Romania',
       'Russia', 'Rwanda', 'San Marino', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'South Africa', 'South Sudan', 'Spain',
       'St. Kitts and Nevis', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US Virgin Islands',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United States', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vietnam', 'Wales', 'Zambia', 'Zimbabwe'],
      dtype='object')

In [9]:
#replacing different team names 
team_stats.replace({'United States':'USA'},inplace=True)
team_stats.replace({'Korea Republic':'South Korea'},inplace=True)

### Add result column for W for home_team win, L for away_team win and D for Draw

In [10]:
# create a list of our conditions
conditions = [
    (hist_matches['winning_team'] == hist_matches['home_team']),
    (hist_matches['winning_team'] == hist_matches['away_team'])
    ]

# create a list of the values we want to assign for each condition
values = [1, 2]

# create a new column and use np.select to assign values to it using our lists as arguments
hist_matches['result'] = np.select(conditions, values,0)
hist_matches

<ipython-input-10-4211a0ee4532>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hist_matches['result'] = np.select(conditions, values,0)

,date,home_team,away_team,tournament,home_score,away_score,winning_team,goal_difference,result
0,2010-01-02,Iran,Korea DPR,Friendly,1,0,Iran,1,1
1,2010-01-02,Qatar,Mali,Friendly,0,0,Draw,0,0
2,2010-01-02,Syria,Zimbabwe,Friendly,6,0,Syria,6,1
3,2010-01-02,Yemen,Tajikistan,Friendly,0,1,Tajikistan,1,2
4,2010-01-03,Angola,Gambia,Friendly,1,1,Draw,0,0
...,...,...,...,...,...,...,...,...,...
7964,2018-07-06,Uruguay,France,FIFA World Cup,0,2,France,2,2
7965,2018-07-06,Brazil,Belgium,FIFA World Cup,1,2,Belgium,1,2
7966,2018-07-07,Sweden,England,FIFA World Cup,0,2,England,2,2
7967,2018-07-07,Russia,Croatia,FIFA World Cup,2,2,Draw,0,0
7968,2018-07-10,France,Belgium,FIFA World Cup,1,0,France,1,1

In [11]:
hist_matches.rename(columns={'tournament':'competition_name','result':'match_result'},inplace=True)
hist_matches.head()

/Users/zz/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,date,home_team,away_team,competition_name,home_score,away_score,winning_team,goal_difference,match_result
0,2010-01-02,Iran,Korea DPR,Friendly,1,0,Iran,1,1
1,2010-01-02,Qatar,Mali,Friendly,0,0,Draw,0,0
2,2010-01-02,Syria,Zimbabwe,Friendly,6,0,Syria,6,1
3,2010-01-02,Yemen,Tajikistan,Friendly,0,1,Tajikistan,1,2
4,2010-01-03,Angola,Gambia,Friendly,1,1,Draw,0,0

In [12]:
hist_matches.sort_values('date')

,date,home_team,away_team,competition_name,home_score,away_score,winning_team,goal_difference,match_result
0,2010-01-02,Iran,Korea DPR,Friendly,1,0,Iran,1,1
1,2010-01-02,Qatar,Mali,Friendly,0,0,Draw,0,0
2,2010-01-02,Syria,Zimbabwe,Friendly,6,0,Syria,6,1
3,2010-01-02,Yemen,Tajikistan,Friendly,0,1,Tajikistan,1,2
4,2010-01-03,Angola,Gambia,Friendly,1,1,Draw,0,0
...,...,...,...,...,...,...,...,...,...
7964,2018-07-06,Uruguay,France,FIFA World Cup,0,2,France,2,2
7965,2018-07-06,Brazil,Belgium,FIFA World Cup,1,2,Belgium,1,2
7967,2018-07-07,Russia,Croatia,FIFA World Cup,2,2,Draw,0,0
7966,2018-07-07,Sweden,England,FIFA World Cup,0,2,England,2,2
7968,2018-07-10,France,Belgium,FIFA World Cup,1,0,France,1,1

In [13]:
hist_matches.columns

Index(['date', 'home_team', 'away_team', 'competition_name', 'home_score',
       'away_score', 'winning_team', 'goal_difference', 'match_result'],
      dtype='object')

### Getting newly gathered data from API (2017 - 2021)

In [14]:
df_api = pd.read_csv('Data/from_2017_matches_history.csv',index_col=[0])
df_api

,competition_name,date,home_team,away_team,home_score,away_score,score,match_result
0,FIFA World Cup,2018-06-14,Russia,Saudi Arabia,5,0,5 - 0,1
1,FIFA World Cup,2018-06-15,Egypt,Uruguay,0,1,0 - 1,2
2,FIFA World Cup,2018-06-15,Morocco,Iran,0,1,0 - 1,2
3,FIFA World Cup,2018-06-15,Portugal,Spain,3,3,3 - 3,0
4,FIFA World Cup,2018-06-16,France,Australia,2,1,2 - 1,1
...,...,...,...,...,...,...,...,...
1592,Gold Cup,2021-07-25,Costa Rica,Canada,0,2,0 - 2,2
1593,Gold Cup,2021-07-26,USA,Jamaica,1,0,1 - 0,1
1594,Gold Cup,2021-07-29,Qatar,USA,0,1,0 - 1,2
1595,Gold Cup,2021-07-30,Mexico,Canada,2,1,2 - 1,1
1596,Gold Cup,2021-08-02,USA,Mexico,1,0,1 - 0,1

In [15]:

# create a list of our conditions
conditions = [
    (df_api['home_score'] > df_api['away_score']),
    (df_api['home_score'] < df_api['away_score'])
    ]

# create a list of the values we want to assign for each condition
values = [df_api['home_team'], df_api['away_team']]

# create a new column and use np.select to assign values to it using our lists as arguments
df_api['winning_team'] = np.select(conditions, values,'Draw')
df_api


df_api

,competition_name,date,home_team,away_team,home_score,away_score,score,match_result,winning_team
0,FIFA World Cup,2018-06-14,Russia,Saudi Arabia,5,0,5 - 0,1,Russia
1,FIFA World Cup,2018-06-15,Egypt,Uruguay,0,1,0 - 1,2,Uruguay
2,FIFA World Cup,2018-06-15,Morocco,Iran,0,1,0 - 1,2,Iran
3,FIFA World Cup,2018-06-15,Portugal,Spain,3,3,3 - 3,0,Draw
4,FIFA World Cup,2018-06-16,France,Australia,2,1,2 - 1,1,France
...,...,...,...,...,...,...,...,...,...
1592,Gold Cup,2021-07-25,Costa Rica,Canada,0,2,0 - 2,2,Canada
1593,Gold Cup,2021-07-26,USA,Jamaica,1,0,1 - 0,1,USA
1594,Gold Cup,2021-07-29,Qatar,USA,0,1,0 - 1,2,USA
1595,Gold Cup,2021-07-30,Mexico,Canada,2,1,2 - 1,1,Mexico
1596,Gold Cup,2021-08-02,USA,Mexico,1,0,1 - 0,1,USA

In [16]:
df_api['goal_difference']=np.abs(df_api['home_score'] - df_api['away_score'])
df_api

,competition_name,date,home_team,away_team,home_score,away_score,score,match_result,winning_team,goal_difference
0,FIFA World Cup,2018-06-14,Russia,Saudi Arabia,5,0,5 - 0,1,Russia,5
1,FIFA World Cup,2018-06-15,Egypt,Uruguay,0,1,0 - 1,2,Uruguay,1
2,FIFA World Cup,2018-06-15,Morocco,Iran,0,1,0 - 1,2,Iran,1
3,FIFA World Cup,2018-06-15,Portugal,Spain,3,3,3 - 3,0,Draw,0
4,FIFA World Cup,2018-06-16,France,Australia,2,1,2 - 1,1,France,1
...,...,...,...,...,...,...,...,...,...,...
1592,Gold Cup,2021-07-25,Costa Rica,Canada,0,2,0 - 2,2,Canada,2
1593,Gold Cup,2021-07-26,USA,Jamaica,1,0,1 - 0,1,USA,1
1594,Gold Cup,2021-07-29,Qatar,USA,0,1,0 - 1,2,USA,1
1595,Gold Cup,2021-07-30,Mexico,Canada,2,1,2 - 1,1,Mexico,1
1596,Gold Cup,2021-08-02,USA,Mexico,1,0,1 - 0,1,USA,1

In [17]:
df_api.drop('score',axis=1,inplace=True)
sorter = ['date', 'home_team', 'away_team', 'competition_name', 'home_score',
       'away_score', 'winning_team', 'goal_difference', 'match_result']

df_api = df_api[sorter]
df_api

,date,home_team,away_team,competition_name,home_score,away_score,winning_team,goal_difference,match_result
0,2018-06-14,Russia,Saudi Arabia,FIFA World Cup,5,0,Russia,5,1
1,2018-06-15,Egypt,Uruguay,FIFA World Cup,0,1,Uruguay,1,2
2,2018-06-15,Morocco,Iran,FIFA World Cup,0,1,Iran,1,2
3,2018-06-15,Portugal,Spain,FIFA World Cup,3,3,Draw,0,0
4,2018-06-16,France,Australia,FIFA World Cup,2,1,France,1,1
...,...,...,...,...,...,...,...,...,...
1592,2021-07-25,Costa Rica,Canada,Gold Cup,0,2,Canada,2,2
1593,2021-07-26,USA,Jamaica,Gold Cup,1,0,USA,1,1
1594,2021-07-29,Qatar,USA,Gold Cup,0,1,USA,1,2
1595,2021-07-30,Mexico,Canada,Gold Cup,2,1,Mexico,1,1
1596,2021-08-02,USA,Mexico,Gold Cup,1,0,USA,1,1

In [18]:
df_api = df_api[df_api['date'] > '2018-07-10']

In [19]:
df_all = pd.concat([hist_matches,df_api])
df_all

,date,home_team,away_team,competition_name,home_score,away_score,winning_team,goal_difference,match_result
0,2010-01-02 00:00:00,Iran,Korea DPR,Friendly,1,0,Iran,1,1
1,2010-01-02 00:00:00,Qatar,Mali,Friendly,0,0,Draw,0,0
2,2010-01-02 00:00:00,Syria,Zimbabwe,Friendly,6,0,Syria,6,1
3,2010-01-02 00:00:00,Yemen,Tajikistan,Friendly,0,1,Tajikistan,1,2
4,2010-01-03 00:00:00,Angola,Gambia,Friendly,1,1,Draw,0,0
...,...,...,...,...,...,...,...,...,...
1592,2021-07-25,Costa Rica,Canada,Gold Cup,0,2,Canada,2,2
1593,2021-07-26,USA,Jamaica,Gold Cup,1,0,USA,1,1
1594,2021-07-29,Qatar,USA,Gold Cup,0,1,USA,1,2
1595,2021-07-30,Mexico,Canada,Gold Cup,2,1,Mexico,1,1
1596,2021-08-02,USA,Mexico,Gold Cup,1,0,USA,1,1

## read fifa rank data

In [20]:
#read the fifa rank dataset from https://www.transfermarkt.com/statistik/weltrangliste
fifa_rank = pd.read_csv('Data/Fifa_Rank.csv')
fifa_rank = fifa_rank.drop('Unnamed: 0',axis=1)
fifa_rank

,Rank,Nation,Squad size,Avg. age,Total value,Confederation,Points
0,1,Belgium,26,26.1,3.810000e+08,UEFA,1828
1,2,Brazil,25,27.7,8.995000e+08,CONMEBOL,1823
2,3,France,22,26.9,9.490000e+08,UEFA,1786
3,4,Argentina,33,26.2,5.817000e+08,CONMEBOL,1767
4,5,England,27,25.2,1.260000e+09,UEFA,1756
...,...,...,...,...,...,...,...
202,206,Guam,22,26.3,6.700000e+05,AFC,838
203,207,US Virgin,23,23.5,7.500000e+04,CONCACAF,816
204,208,B. Virgin,18,22.3,0.000000e+00,CONCACAF,813
205,209,Anguilla,17,28.2,0.000000e+00,CONCACAF,792
206,210,San Marino,27,28.1,9.450000e+05,UEFA,780

In [21]:
#check for team names
fifa_rank['Nation'].value_counts().index.sort_values()[150:]

Index(['Romania', 'Russia', 'Rwanda', 'Saint Lucia', 'Samoa', 'San Marino',
       'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts/Nevis', 'St. Vincent', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'São Tomé and P.', 'Tahiti',
       'Tajikistan', 'Tanzania', 'Thailand', 'The Gambia', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks-Caicos', 'U. A. E.', 'US Virgin', 'USA', 'Uganda', 'Ukraine',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Wales',
       'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object')

In [22]:
#replace the only different team name
fifa_rank.replace({'U. A. E.':'United Arab Emirates'},inplace=True)

In [23]:
#adding the statistics data to both teams and make home and away datasets to merge later
df_rank_home = fifa_rank.rename(columns={'Nation':'home_team','Avg. age':'home_team_Avg. age','Total value':'home_team.Total value','Points':'home_team.Points','Rank':'home_team.Rank'}
                    )
df_rank_away = fifa_rank.rename(columns={'Nation':'away_team','Avg. age':'away_team. age','Total value':'away_team.Total value','Points':'away_team.Points','Rank':'away_team.Rank'}
                    )

#### Merge the teams rank data with the match results in one dataframe

In [24]:
new_df = pd.merge(df_all,df_rank_home, on='home_team')
new_df

,date,home_team,away_team,competition_name,home_score,away_score,winning_team,goal_difference,match_result,home_team.Rank,Squad size,home_team_Avg. age,home_team.Total value,Confederation,home_team.Points
0,2010-01-02 00:00:00,Iran,Korea DPR,Friendly,1,0,Iran,1,1,21,27,28.1,74380000.0,AFC,1573
1,2010-03-03 00:00:00,Iran,Thailand,AFC Asian Cup qualification,1,0,Iran,1,1,21,27,28.1,74380000.0,AFC,1573
2,2010-09-24 00:00:00,Iran,Bahrain,WAFF Championship,3,0,Iran,3,1,21,27,28.1,74380000.0,AFC,1573
3,2010-10-01 00:00:00,Iran,Iraq,WAFF Championship,2,1,Iran,1,1,21,27,28.1,74380000.0,AFC,1573
4,2010-10-03 00:00:00,Iran,Kuwait,WAFF Championship,1,2,Kuwait,1,2,21,27,28.1,74380000.0,AFC,1573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7990,2019-06-09,DR Congo,Burkina Faso,Friendlies,0,0,Draw,0,0,66,28,28.3,92380000.0,CAF,1370
7991,2021-06-11,DR Congo,Mali,Friendlies,1,1,Draw,0,0,66,28,28.3,92380000.0,CAF,1370
7992,2019-06-22,DR Congo,Uganda,Africa Cup of Nations,0,2,Uganda,2,2,66,28,28.3,92380000.0,CAF,1370
7993,2019-07-15,North Korea,Tajikistan,Friendlies,1,0,North Korea,1,1,108,23,28.7,5880000.0,AFC,1170
7994,2019-01-13,North Korea,Qatar,Asian Cup,0,6,Qatar,6,2,108,23,28.7,5880000.0,AFC,1170

In [25]:
new_df = pd.merge(new_df,df_rank_away, on='away_team')
new_df

,date,home_team,away_team,competition_name,home_score,away_score,winning_team,goal_difference,match_result,home_team.Rank,Squad size_x,home_team_Avg. age,home_team.Total value,Confederation_x,home_team.Points,away_team.Rank,Squad size_y,away_team. age,away_team.Total value,Confederation_y,away_team.Points
0,2010-03-03 00:00:00,Iran,Thailand,AFC Asian Cup qualification,1,0,Iran,1,1,21,27,28.1,74380000.0,AFC,1573,112,27,27.4,8580000.0,AFC,1160
1,2013-10-15 00:00:00,Iran,Thailand,AFC Asian Cup qualification,2,1,Iran,1,1,21,27,28.1,74380000.0,AFC,1573,112,27,27.4,8580000.0,AFC,1160
2,2013-03-17 00:00:00,Qatar,Thailand,Friendly,1,0,Qatar,1,1,52,23,26.7,14430000.0,AFC,1438,112,27,27.4,8580000.0,AFC,1160
3,2019-01-10,Bahrain,Thailand,Asian Cup,0,1,Thailand,1,2,89,26,27.9,7830000.0,AFC,1264,112,27,27.4,8580000.0,AFC,1160
4,2013-06-15 00:00:00,China,Thailand,Friendly,1,5,Thailand,4,2,75,25,29.5,12680000.0,AFC,1314,112,27,27.4,8580000.0,AFC,1160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7206,2017-12-06 00:00:00,Vanuatu,Tonga,Friendly,5,0,Vanuatu,5,1,164,25,24.7,1830000.0,OFC,996,199,18,25.7,0.0,OFC,862
7207,2015-08-19 00:00:00,Fiji,Tonga,Friendly,5,0,Fiji,5,1,162,22,25.3,2780000.0,OFC,996,199,18,25.7,0.0,OFC,862
7208,2017-12-12 00:00:00,Fiji,Tonga,Friendly,4,0,Fiji,4,1,162,22,25.3,2780000.0,OFC,996,199,18,25.7,0.0,OFC,862
7209,2011-11-24 00:00:00,Samoa,Tonga,Oceania Nations Cup qualification,1,1,Draw,0,0,193,23,26.0,225000.0,OFC,894,199,18,25.7,0.0,OFC,862
7210,2015-03-29 00:00:00,Bermuda,Bahamas,FIFA World Cup qualification,3,0,Bermuda,3,1,166,21,26.2,2830000.0,CONCACAF,982,201,20,24.6,0.0,CONCACAF,858

In [26]:
#Drop unnecessary columns
new_df.drop(['Confederation_x','Confederation_y','Squad size_y','Squad size_x'],axis=1,inplace=True)

In [27]:
new_df

,date,home_team,away_team,competition_name,home_score,away_score,winning_team,goal_difference,match_result,home_team.Rank,home_team_Avg. age,home_team.Total value,home_team.Points,away_team.Rank,away_team. age,away_team.Total value,away_team.Points
0,2010-03-03 00:00:00,Iran,Thailand,AFC Asian Cup qualification,1,0,Iran,1,1,21,28.1,74380000.0,1573,112,27.4,8580000.0,1160
1,2013-10-15 00:00:00,Iran,Thailand,AFC Asian Cup qualification,2,1,Iran,1,1,21,28.1,74380000.0,1573,112,27.4,8580000.0,1160
2,2013-03-17 00:00:00,Qatar,Thailand,Friendly,1,0,Qatar,1,1,52,26.7,14430000.0,1438,112,27.4,8580000.0,1160
3,2019-01-10,Bahrain,Thailand,Asian Cup,0,1,Thailand,1,2,89,27.9,7830000.0,1264,112,27.4,8580000.0,1160
4,2013-06-15 00:00:00,China,Thailand,Friendly,1,5,Thailand,4,2,75,29.5,12680000.0,1314,112,27.4,8580000.0,1160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7206,2017-12-06 00:00:00,Vanuatu,Tonga,Friendly,5,0,Vanuatu,5,1,164,24.7,1830000.0,996,199,25.7,0.0,862
7207,2015-08-19 00:00:00,Fiji,Tonga,Friendly,5,0,Fiji,5,1,162,25.3,2780000.0,996,199,25.7,0.0,862
7208,2017-12-12 00:00:00,Fiji,Tonga,Friendly,4,0,Fiji,4,1,162,25.3,2780000.0,996,199,25.7,0.0,862
7209,2011-11-24 00:00:00,Samoa,Tonga,Oceania Nations Cup qualification,1,1,Draw,0,0,193,26.0,225000.0,894,199,25.7,0.0,862
7210,2015-03-29 00:00:00,Bermuda,Bahamas,FIFA World Cup qualification,3,0,Bermuda,3,1,166,26.2,2830000.0,982,201,24.6,0.0,858

#### Add the teams stats data to the home and away teams and merge them with data we formed in the previous step

In [28]:
#adding prefix for away team 
df_team_away = team_stats.add_prefix('away_')
df_team_away.rename(columns={'away_Squad':'away_team'},inplace=True)
df_team_away.head(1)

,away_team,away_Pl,away_Age,away_Poss,away_MP,away_Starts,away_Min,away_90s,away_Gls,away_Ast,away_G-PK,away_PK,away_PKatt,away_CrdY,away_CrdR,away_Gls.1,away_Ast.1,away_G+A,away_G-PK.1,away_G+A-PK
0,Afghanistan,15.0,27.0,NaN,1.0,11.0,90.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,2.0,1.0,2.0

In [29]:
#adding prefix for home team 
df_team_home = team_stats.add_prefix('home_')
df_team_home.rename(columns={'home_Squad':'home_team'},inplace=True)
df_team_home.head(1)

,home_team,home_Pl,home_Age,home_Poss,home_MP,home_Starts,home_Min,home_90s,home_Gls,home_Ast,home_G-PK,home_PK,home_PKatt,home_CrdY,home_CrdR,home_Gls.1,home_Ast.1,home_G+A,home_G-PK.1,home_G+A-PK
0,Afghanistan,15.0,27.0,NaN,1.0,11.0,90.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,2.0,1.0,2.0

In [30]:
df_all = pd.merge(new_df,df_team_home, on='home_team')
df_all = pd.merge(df_all , df_team_away , on='away_team')
df_all

,date,home_team,away_team,competition_name,home_score,away_score,winning_team,goal_difference,match_result,home_team.Rank,home_team_Avg. age,home_team.Total value,home_team.Points,away_team.Rank,away_team. age,away_team.Total value,away_team.Points,home_Pl,home_Age,home_Poss,home_MP,home_Starts,home_Min,home_90s,home_Gls,home_Ast,home_G-PK,home_PK,home_PKatt,home_CrdY,home_CrdR,home_Gls.1,home_Ast.1,home_G+A,home_G-PK.1,home_G+A-PK,away_Pl,away_Age,away_Poss,away_MP,away_Starts,away_Min,away_90s,away_Gls,away_Ast,away_G-PK,away_PK,away_PKatt,away_CrdY,away_CrdR,away_Gls.1,away_Ast.1,away_G+A,away_G-PK.1,away_G+A-PK
0,2010-03-03 00:00:00,Iran,Thailand,AFC Asian Cup qualification,1,0,Iran,1,1,21,28.1,74380000.0,1573,112,27.4,8580000.0,1160,15.500000,27.600000,32.0,3.000000,33.000000,270.0,3.000000,1.000000,0.500000,0.500000,0.500000,0.500000,5.500000,0.0,0.330,0.165000,0.500000,0.165000,0.335,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.50
1,2013-10-15 00:00:00,Iran,Thailand,AFC Asian Cup qualification,2,1,Iran,1,1,21,28.1,74380000.0,1573,112,27.4,8580000.0,1160,15.500000,27.600000,32.0,3.000000,33.000000,270.0,3.000000,1.000000,0.500000,0.500000,0.500000,0.500000,5.500000,0.0,0.330,0.165000,0.500000,0.165000,0.335,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.50
2,2013-03-17 00:00:00,Qatar,Thailand,Friendly,1,0,Qatar,1,1,52,26.7,14430000.0,1438,112,27.4,8580000.0,1160,21.666667,26.633333,NaN,5.333333,58.666667,480.0,5.333333,4.666667,3.333333,3.666667,1.000000,1.000000,10.333333,1.0,0.940,0.603333,1.540000,0.633333,1.230,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.50
3,2019-01-10,Bahrain,Thailand,Asian Cup,0,1,Thailand,1,2,89,27.9,7830000.0,1264,112,27.4,8580000.0,1160,29.666667,27.900000,NaN,5.333333,58.666667,480.0,5.333333,11.666667,5.333333,9.000000,2.666667,3.333333,5.666667,0.0,2.090,0.833333,2.926667,1.676667,2.510,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.50
4,2010-12-07 00:00:00,Indonesia,Thailand,AFF Championship,2,1,Indonesia,1,1,160,23.3,5280000.0,1002,112,27.4,8580000.0,1160,25.500000,23.100000,NaN,2.500000,27.500000,225.0,2.500000,5.000000,1.500000,4.000000,1.000000,1.000000,3.000000,0.0,2.085,0.500000,2.585000,1.665000,2.165,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,2011-09-02 00:00:00,Guyana,Barbados,FIFA World Cup qualification,2,0,Guyana,2,1,175,25.5,775000.0,959,163,23.0,0.0,996,20.000000,27.300000,NaN,2.000000,22.000000,180.0,2.000000,6.000000,4.000000,4.000000,2.000000,2.000000,3.000000,0.0,3.000,2.000000,5.000000,2.000000,4.000,18.5,24.45,NaN,2.0,22.0,180.0,2.0,1.0,0.0,0.5,0.5,0.5,5.5,0.0,0.50,0.00,0.5,0.25,0.25
6015,2011-11-11 00:00:00,Bermuda,Barbados,FIFA World Cup qualification,2,1,Bermuda,1,1,166,26.2,2830000.0,982,163,23.0,0.0,996,14.000000,25.100000,NaN,1.000000,11.000000,90.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,0.000000,0.000000,0.000000,0.000,18.5,24.45,NaN,2.0,22.0,180.0,2.0,1.0,0.0,0.5,0.5,0.5,5.5,0.0,0.50,0.00,0.5,0.25,0.25
6016,2011-11-14 00:00:00,Bermuda,Barbados,FIFA World Cup qualification,2,1,Bermuda,1,1,166,26.2,2830000.0,982,163,23.0,0.0,996,14.000000,25.100000,NaN,1.000000,11.000000,90.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,0.000000,0.000000,0.000000,0.000,18.5,24.45,NaN,2.0,22.0,180.0,2.0,1.0,0.0,0.5,0.5,0.5,5.5,0.0,0.50,0.00,0.5,0.25,0.25
6017,2017-10-28 00:00:00,Bermuda,Barbados,Friendly,2,3,Barbados,1,2,166,26.2,2830000.0,982,163,23.0,0.0,996,14.000000,25.100000,NaN,1.000000,11.000000,90.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,0.000000,0.000000,0.000000,0.000,18.5,24.45,NaN,2.0,22.0,180.0,2.0,1.0,0.0,0.5,0.5,0.5,5.5,0.0,0.50,0.00,0.5,0.25,0.25
6018,2010-10-02 00:00:00,Puerto Rico,Anguilla,CFU Caribbean Cup qualification,3,1,Puerto Rico,2,1,172,23.5,1500000.0,963,209,28.2,0.0,792,16.000000,23.000000,NaN,2.000000,22.000000,180.0,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,5.000000,0.0,0.500,0.000000,0.500000,0.000000,0.000,14.0,26.60,NaN,1.0,11.0,90.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.00,0.00,0.0,0.00,0.00

In [31]:
#Drop the Winning team column and keep the result column which indicates if home time Wins, Lose or Draw with (W,L,D)
df_all.drop('winning_team',axis=1,inplace=True)
df_all['date'] = pd.to_datetime(df_all['date'])
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6019 entries, 0 to 6018
Data columns (total 54 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   6019 non-null   datetime64[ns]
 1   home_team              6019 non-null   object
 2   away_team              6019 non-null   object
 3   competition_name       6019 non-null   object
 4   home_score             6019 non-null   int64
 5   away_score             6019 non-null   int64
 6   goal_difference        6019 non-null   int64
 7   match_result           6019 non-null   int64
 8   home_team.Rank         6019 non-null   int64
 9   home_team_Avg. age     6019 non-null   float64
 10  home_team.Total value  6019 non-null   float64
 11  home_team.Points       6019 non-null   int64
 12  away_team.Rank         6019 non-null   int64
 13  away_team. age         6019 non-null   float64
 14  away_team.Total value  6019 non-null   float64
 15  away_team.Points       6019 non-null   int64
 16  home_Pl                6019 non-null   float64
 17  home_Age               6019 non-null   float64
 18  home_Poss              2457 non-null   float64
 19  home_MP                6019 non-null   float64
 20  home_Starts            6019 non-null   float64
 21  home_Min               6019 non-null   float64
 22  home_90s               6019 non-null   float64
 23  home_Gls               6019 non-null   float64
 24  home_Ast               6019 non-null   float64
 25  home_G-PK              6019 non-null   float64
 26  home_PK                6019 non-null   float64
 27  home_PKatt             6019 non-null   float64
 28  home_CrdY              6019 non-null   float64
 29  home_CrdR              6019 non-null   float64
 30  home_Gls.1             6019 non-null   float64
 31  home_Ast.1             6019 non-null   float64
 32  home_G+A               6019 non-null   float64
 33  home_G-PK.1            6019 non-null   float64
 34  home_G+A-PK            6019 non-null   float64
 35  away_Pl                6019 non-null   float64
 36  away_Age               6019 non-null   float64
 37  away_Poss              2261 non-null   float64
 38  away_MP                6019 non-null   float64
 39  away_Starts            6019 non-null   float64
 40  away_Min               6019 non-null   float64
 41  away_90s               6019 non-null   float64
 42  away_Gls               6019 non-null   float64
 43  away_Ast               6019 non-null   float64
 44  away_G-PK              6019 non-null   float64
 45  away_PK                6019 non-null   float64
 46  away_PKatt             6019 non-null   float64
 47  away_CrdY              6019 non-null   float64
 48  away_CrdR              6019 non-null   float64
 49  away_Gls.1             6019 non-null   float64
 50  away_Ast.1             6019 non-null   float64
 51  away_G+A               6019 non-null   float64
 52  away_G-PK.1            6019 non-null   float64
 53  away_G+A-PK            6019 non-null   float64
dtypes: datetime64[ns](1), float64(42), int64(8), object(3)
memory usage: 2.5+ MB

#### Sort the columns so hom team data come first followerd by away team data

In [32]:
df_all.columns

Index(['date', 'home_team', 'away_team', 'competition_name', 'home_score',
       'away_score', 'goal_difference', 'match_result', 'home_team.Rank',
       'home_team_Avg. age', 'home_team.Total value', 'home_team.Points',
       'away_team.Rank', 'away_team. age', 'away_team.Total value',
       'away_team.Points', 'home_Pl', 'home_Age', 'home_Poss', 'home_MP',
       'home_Starts', 'home_Min', 'home_90s', 'home_Gls', 'home_Ast',
       'home_G-PK', 'home_PK', 'home_PKatt', 'home_CrdY', 'home_CrdR',
       'home_Gls.1', 'home_Ast.1', 'home_G+A', 'home_G-PK.1', 'home_G+A-PK',
       'away_Pl', 'away_Age', 'away_Poss', 'away_MP', 'away_Starts',
       'away_Min', 'away_90s', 'away_Gls', 'away_Ast', 'away_G-PK', 'away_PK',
       'away_PKatt', 'away_CrdY', 'away_CrdR', 'away_Gls.1', 'away_Ast.1',
       'away_G+A', 'away_G-PK.1', 'away_G+A-PK'],
      dtype='object')

In [33]:
sorter = ['date','home_team','home_score','home_team.Rank','home_team_Avg. age','home_team.Total value', 'home_team.Points',
         'home_Pl', 'home_Age', 'home_Poss', 'home_MP', 'home_Starts','home_Min', 'home_90s', 'home_Gls', 'home_Ast', 'home_G-PK', 'home_PK',
       'home_PKatt', 'home_CrdY', 'home_CrdR', 'home_Gls.1', 'home_Ast.1','home_G+A', 'home_G-PK.1', 'home_G+A-PK',
         'away_team','away_score','away_team.Rank','away_team. age', 'away_team.Total value', 'away_team.Points', 'away_Pl', 'away_Age',
       'away_Poss', 'away_MP', 'away_Starts', 'away_Min', 'away_90s','away_Gls', 'away_Ast', 'away_G-PK', 'away_PK', 'away_PKatt',
       'away_CrdY', 'away_CrdR', 'away_Gls.1', 'away_Ast.1', 'away_G+A','away_G-PK.1', 'away_G+A-PK','goal_difference', 'match_result'
         ]

In [34]:
df_all = df_all[sorter]
df_all.columns

Index(['date', 'home_team', 'home_score', 'home_team.Rank',
       'home_team_Avg. age', 'home_team.Total value', 'home_team.Points',
       'home_Pl', 'home_Age', 'home_Poss', 'home_MP', 'home_Starts',
       'home_Min', 'home_90s', 'home_Gls', 'home_Ast', 'home_G-PK', 'home_PK',
       'home_PKatt', 'home_CrdY', 'home_CrdR', 'home_Gls.1', 'home_Ast.1',
       'home_G+A', 'home_G-PK.1', 'home_G+A-PK', 'away_team', 'away_score',
       'away_team.Rank', 'away_team. age', 'away_team.Total value',
       'away_team.Points', 'away_Pl', 'away_Age', 'away_Poss', 'away_MP',
       'away_Starts', 'away_Min', 'away_90s', 'away_Gls', 'away_Ast',
       'away_G-PK', 'away_PK', 'away_PKatt', 'away_CrdY', 'away_CrdR',
       'away_Gls.1', 'away_Ast.1', 'away_G+A', 'away_G-PK.1', 'away_G+A-PK',
       'goal_difference', 'match_result'],
      dtype='object')

In [35]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6019 entries, 0 to 6018
Data columns (total 53 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   6019 non-null   datetime64[ns]
 1   home_team              6019 non-null   object
 2   home_score             6019 non-null   int64
 3   home_team.Rank         6019 non-null   int64
 4   home_team_Avg. age     6019 non-null   float64
 5   home_team.Total value  6019 non-null   float64
 6   home_team.Points       6019 non-null   int64
 7   home_Pl                6019 non-null   float64
 8   home_Age               6019 non-null   float64
 9   home_Poss              2457 non-null   float64
 10  home_MP                6019 non-null   float64
 11  home_Starts            6019 non-null   float64
 12  home_Min               6019 non-null   float64
 13  home_90s               6019 non-null   float64
 14  home_Gls               6019 non-null   float64
 15  home_Ast               6019 non-null   float64
 16  home_G-PK              6019 non-null   float64
 17  home_PK                6019 non-null   float64
 18  home_PKatt             6019 non-null   float64
 19  home_CrdY              6019 non-null   float64
 20  home_CrdR              6019 non-null   float64
 21  home_Gls.1             6019 non-null   float64
 22  home_Ast.1             6019 non-null   float64
 23  home_G+A               6019 non-null   float64
 24  home_G-PK.1            6019 non-null   float64
 25  home_G+A-PK            6019 non-null   float64
 26  away_team              6019 non-null   object
 27  away_score             6019 non-null   int64
 28  away_team.Rank         6019 non-null   int64
 29  away_team. age         6019 non-null   float64
 30  away_team.Total value  6019 non-null   float64
 31  away_team.Points       6019 non-null   int64
 32  away_Pl                6019 non-null   float64
 33  away_Age               6019 non-null   float64
 34  away_Poss              2261 non-null   float64
 35  away_MP                6019 non-null   float64
 36  away_Starts            6019 non-null   float64
 37  away_Min               6019 non-null   float64
 38  away_90s               6019 non-null   float64
 39  away_Gls               6019 non-null   float64
 40  away_Ast               6019 non-null   float64
 41  away_G-PK              6019 non-null   float64
 42  away_PK                6019 non-null   float64
 43  away_PKatt             6019 non-null   float64
 44  away_CrdY              6019 non-null   float64
 45  away_CrdR              6019 non-null   float64
 46  away_Gls.1             6019 non-null   float64
 47  away_Ast.1             6019 non-null   float64
 48  away_G+A               6019 non-null   float64
 49  away_G-PK.1            6019 non-null   float64
 50  away_G+A-PK            6019 non-null   float64
 51  goal_difference        6019 non-null   int64
 52  match_result           6019 non-null   int64
dtypes: datetime64[ns](1), float64(42), int64(8), object(2)
memory usage: 2.5+ MB

In [36]:
#save the data to a csv file
df_all.to_csv('Data/final_df.csv')